<ul>
  <% @posts.each do |post| %>
    <li>
      <h3 class="post-title"><%= link_to post.title, post %></h3>
      <small>Posted <%= time_ago_in_words(post.created_at) %> ago</small>
      <p class="post-body"><%= post.body %></p>
    </li>
  <% end %>
</ul>
