<ul class="list-unstyled col-md-7 col-md-offset-1">
  <% @posts.each do |post| %>
    <li>
      <h1 class="post-title"><%= link_to post.title, post %></h1>
      <small>Posted <%= time_ago_in_words(post.created_at) %> ago</small>
    </li>
    <hr>
  <% end %>
</ul>
