<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid pull-right">
    <p class="text-muted navbar-text">&copy <%= Time.now.year %> Scott E. Knight</p>
  </div>
</div>
